Перечислим все основные требования для нашего приложения.

1.  Webpack;
    +   модульная система
    +   babel - транспилятор для javascript-кода
    +   scss - препроцессор для css-кода
    +   esLint - слежка за чистотой javascript-кода
    +   2 modes
        - devMode - для разработки
            -   dev server
            -   source maps
            -   eslint
            -   not minified
        - buildMode - для деплоя
            -   minified code
2.  Git.
    Работа по github-flow:
    У нас есть ветка master

    Master 1.0.0.: _ _ _ _ _ _

    И мы делаем какую-то фичу:

    Feature: _ _ _ _ _ _ | _ _ _ ( на три палочки больше ) - новая ветка

    Только после этого - мержить по пулл реквесту:
    Master + Feature =
    Master 1.0.2: _ _ _ _ _ _ _ _ _ ( теперь тоже девять )
